.article {
	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		li {
			margin-bottom: 0.5rem;
		}
		a {
			display: flex;
			align-items: center;
			flex-direction: row;
			font-size: 1.5rem;
			&:hover {
				color: grey;
			}
		}
	}

	.color {
		display: inline-block;
		width: 1.5rem;
		height: 1.5rem;
		margin-right: 0.3em;
		border: 1px solid gray;
	}
}
