.title {
	margin-top: 1rem;
	padding-bottom: 0rem;
}

.list {
	list-style: none;
	display: flex;
	flex-direction: column;
	margin-top: 0.3rem;
	margin-bottom: 1rem;

	li {
		margin-bottom: 4px;
		padding: 0.5rem;
		background-color: rgba(0, 0, 0, 0.06);
		display: flex;
		flex-direction: row;
		align-items: center;

		* {
			font-size: 1rem;
		}
		p {
			margin-bottom: 0;
		}
		> div {
			margin-right: 1rem;

			&.label {
				font-weight: bold;
			}
			&.label,
			&.value {
				flex: 0 0 100px;
			}

			&.content {
				flex: 1 1 auto;
			}
		}
	}
}
