.locales {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
	margin: var(--outer-margin);
	a {
		margin-right: 0.5rem;
	}
	ul {
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		li {
			margin-left: 0.7em;
			text-transform: uppercase;
			margin-left: 0.2em;
			&.selected {
				font-weight: bold;
			}
			a {
				text-decoration: none;
				text-transform: uppercase;
				color: black;

				&.selected {
					font-weight: bold;
				}

				&:hover {
					text-decoration: underline;
				}
				button {
					&[aria-pressed='true'] {
						background-color: black;
						color: white;
					}
				}
			}
		}
	}
}
