@use 'mediaqueries' as *;

html,
body {
	font-size: 16px;
	font-weight: normal;
	font-family: var(--body-font);
	line-height: 1em;

	@include mq($from: tablet) {
		font-size: 18px;
	}

	@include mq($from: wide) {
		font-size: 20px;
	}
}

h1,
h2,
h3,
h4 {
	font-weight: normal;
	line-height: 1;
}

h1,
h2 {
	font-size: 2.2rem;
	margin-bottom: 0.25em;
	line-height: 0.95em;

	@include mq($from: desktop) {
		font-size: 3.5rem;
		margin-bottom: 0.5em;
	}
}

h1.veryBig,
h2.veryBig,
h3.veryBig,
.very-big {
	font-size: 2.5rem !important;
	margin-bottom: 0.3em !important;
	text-align: justify;
	text-align-last: justify;
	font-family: var(--body-font) !important;
	line-height: 0.95em;

	@include mq($from: desktop) {
		font-size: 4.3rem !important;
	}
}

.about .very-big {
	margin-bottom: -0.45em !important;

	& + p {
		margin-top: 3.5rem !important;
	}
}

h2,
.about h1 {
	width: 100%;
	text-align: justify;
	//text-align-last: justify;
}

.about h1,
.about h2 {
	margin-bottom: 0.6rem;
	padding-top: 1rem;

	@include mq($from: desktop) {
		margin-bottom: 1rem;
	}
}

h3 {
	font-size: 1.2rem;
	line-height: 0.95em;

	@include mq($from: desktop) {
		font-size: 1.4rem;
	}
}

h5 {
	font-size: 1rem;
	font-weight: normal;
	padding-bottom: 1em;
	padding-top: 1.5em;
}

form,
input,
select,
textarea,
button {
	font-family: var(--body-font);
	line-height: 1;
}

.nav,
.about h3 {
	font-size: var(--nav-size);
	line-height: 1;
}

.about h3 {
	margin-bottom: 0.5em;
}

.nav-hover {
	@include mq($from: desktop) {
		&:hover {
			letter-spacing: var(--letter-space);
		}
	}
}

.nav-small {
	font-size: calc(var(--nav-size) * 0.8);
}

p,
.body,
ol li,
button.full,
h4 {
	font-size: 1.2rem;
	line-height: 1.25em;
	margin-bottom: 0;

	@include mq($from: desktop) {
		font-size: 1.4rem;
	}
}

.light,
.about p,
.legal p {
	font-family: var(--body-font)-light;
}

.about .nav {
	line-height: 1.25;
}

.big p,
.big {
	font-size: 1.4rem;

	@include mq($from: desktop) {
		font-size: 1.6rem;
	}
}

.mid,
.mid p,
ol li {
	font-size: 1.2rem;
}

p.small,
.small,
.small p,
.legal p {
	font-size: 1rem !important;
}

.very-small {
	font-size: 0.8rem;
}

.default-small {
	font-size: 1rem;

	@include mq($from: desktop) {
		font-size: 1.4rem;
	}
}

.mid-small {
	font-size: 1rem;

	@include mq($from: desktop) {
		font-size: 1.2rem;
	}
}

.structured p strong {
	font-weight: normal;
	font-family: var(--body-font);
}

.symbol {
	font-family: var(--symbol-font);
}

.page-title {
	font-size: 1rem;
	font-family: var(--body-font) !important;
	@include mq($from: desktop) {
		padding-top: 0.5rem;
	}
}

.small-text {
	font-size: 1.2rem;
}
